<p id="notice"><%= notice %></p>

<h1>Listing Job Groups</h1>

<table border="1">
  <thead>
    <tr>
      <th>Name</th>
      <th>Hour rate</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @job_groups.each do |job_group| %>
      <tr>
        <td><%= job_group.name %></td>
        <td><%= job_group.hour_rate %></td>
        <td><%= link_to 'Show', job_group %></td>
      </tr>
    <% end %>
  </tbody>
</table>
