<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @job_group.name %>
</p>

<p>
  <strong>Hour rate:</strong>
  <%= @job_group.hour_rate %>
</p>

<%= link_to 'Back', job_groups_path %>
